@import "vars";

$var-boolean-value-color: $azure-radiance;
$var-object-value-color: $azure-radiance;
$var-string-value-color: $antique-brass;
$var-prop-color: #9cdcfe;
$var-code-font: "consolas";

.viewport {
	&__data-container {
		width: 320px;
	}

	&__field-container {
		// width: 200px;
		padding: 0.5em 0.25em;
	}

	&__field-header {
		font-weight: 600;
		text-transform: uppercase;
	}

	&__field {
		font-size: 0.85em;
		padding: 0.5em;
	}
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.type {
	font-family: $var-code-font;

	&.variable {
		margin-right: 0.5em;
		color: $var-prop-color;
	}

	&.boolean {
		&.value {
			color: $var-boolean-value-color;
		}
	}
	&.object {
		&.value {
			color: $var-object-value-color;
		}
	}
	&.string {
		&.value {
			color: $var-string-value-color;
		}
	}
}

fieldset {
	margin: 2em 0;
}

.form-group {
	margin-left: 1em;
}

.button-group {
	button {
		margin-right: 0.5em;
	}
}

.matcher-dummy-container {
	display: block;
	background: rgba($black, 0.4);
	padding: 1em;
	margin: 0.5em;

	&__target {
		display: block;
		color: $var-prop-color;
		font-size: 0.8em;
	}
}

